html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center, dl, dt, dd, ol, nav, li,fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    letter-spacing:0;
}

@font-face {
    font-family: Verdana;
    src: url(../fonts/verdana.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #fff;
}

a{
    color: #000;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}


.clr{
    clear: both;
}


.left-block-filter{
    width: 320px;
    margin: 0 auto;
    float: none;
    border-right: none;
}

.left-block-filter .title-filtr{
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
    padding: 0 0 0 15px;
    display: block;
    border-bottom: 1px solid #D1D1D1;
}

.content-filtr{
    padding: 0 0 0 10px;
}

.content-filtr a{
    color:#67b7f4;
    font-size: 12px;
    line-height: 60px;
}
.content-filtr .select-form-filter{
    margin-bottom: 10px;
}

.select-form-filter {
    width: 290px;
    height: 34px;
    overflow: hidden;
    background: #F0EFF2 url(../img/arrow.gif) no-repeat right;
}

.select-form-filter select{
    background: transparent;
    width: 305px;
    padding: 5px;
    font-size: 14px;
    border: none;
    height: 34px;
}

.select-form-filter select:focus {
    outline: none;
}

.select-form-filter select option{
    background: #F0EFF2;
    padding: 5px;
    fint-size: 14px;
}
.content-filtr .label{
    font-size: 14px;
    display: block;
    margin: 0 0 5px 0;
}

.content-filtr .tex-form{
    font-size: 14px;
    display: block;
    margin: 1px 10px 0 0px;
    float: left;
}

.content-filtr .formCast{
    width: 62px;
    border: none;
    margin: 0 10px 10px 0;
    background: #F0EFF2;
    padding: 3px 0 4px 7px;
    float: left;
}

.content-filtr .name-tex-filter{
    width: 283px;
    border: none;
    margin: 5px 0 0px 0;
    background: #F0EFF2;
    padding: 7px 0 7px 7px;
    float: left;
}

/* Ширина слайдера */
#slider {
    width: 283px;
    margin-bottom: 20px;
}

/* Контейнер слайдера */
.ui-slider {
    position: relative;
}

/* Ползунок */
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 17px;   /* Задаем нужную ширину */
    height: 17px;  /* и высоту */
    background: url(../img/slider.png) no-repeat; /* картинка изображающая ползунок. Или можно залить цветом, задать бордюр и скругления */
    cursor: pointer
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    overflow: hidden;

}

/* горизонтальный слайдер (сама полоса по которой бегает ползунок) */

.ui-slider-horizontal {
    height: 5px; /* задаем высоту согласно дизайна */
}

/* позиционируем ползунки */
.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
    margin-left: -6px;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

/* оформление полосы по которой ходит ползунок */
.ui-widget-content {
    border: 1px solid #D4D4D4;
    background: #fff;

}

/* оформление активного участка (между двумя ползунками) */
.ui-widget-header {
    background: #1072c0;
}

/* скругление для полосы слайдера */
.ui-corner-all {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}


.right-block-content{
    width: 1000px;
    float: left;
    border-left: none;
    margin-left: -1px;
    padding: 0 10px 0 10px;
}


.right-block-content .banner-top{
    float: right;
    margin: 5px 0px 20px 0;
    overflow: hidden;
    display: none;
}

.right-block-content .banner-top img{
    float: right;
}

.right-block-content h1{
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px 0 20px 0;

}

.block-tov{
    width: 300px;
    height: 300px;
    float: left;
    margin: 0 20px 20px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.block-tov img{
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: auto;
    height: 100%;
}

.block-tov:hover img{
    opacity: 0.5;
}

.block-tov .name-tov{
    width: 100%;
    z-index: 1;
    display: block;
    background: url(../img/bg-name-tov.png) repeat;
    position: absolute;
    top: 60%;
    height: 36px;
    padding: 10px 0;
    font-size: 14px;
}

@media screen and (min-width: 320px) {
    .mid-warp{
        width: 320px;
        margin: 10px auto 0;
        border-top:1px solid #D1D1D1;
    }
    .right-block-content{
        width: 100%;
    }
    .line-filter{
        border-bottom: 1px solid #D1D1D1;
        width: 285px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .right-block-content h1{
        margin: 20px 0 20px 0;

    }
    .line-filter{
        border-bottom: 1px solid #D1D1D1;
        width: 200px;
        margin-bottom: 20px;
    }

    .left-block-filter{
        width: 240px;
        float: left;
        border-right:1px solid #D1D1D1;
    }

    .select-form-filter {
        width: 200px;
    }

    .select-form-filter select{
        width: 218px;
    }

    .content-filtr .name-tex-filter{
        width: 190px;
        border: none;
        margin: 5px 0 0px 0;
        background: #F0EFF2;
        padding: 7px 0 7px 7px;
        float: left;
    }

    /* Ширина слайдера */
    #slider {
        width: 200px;
        margin-bottom: 20px;
    }

    .mid-warp{
        width: 768px;
        margin: 10px auto 0;
        border-top:1px solid #D1D1D1;
    }

    .right-block-content{
        width: 500px;
        border-left:1px solid #D1D1D1;
        padding: 0 0px 0 20px;
    }

    .block-tov {
        width: 230px;
        height: 230px;
    }

    .right-block-content .banner-top{
        width: 500px;
        display: block;
    }
}

@media screen and (min-width: 1024px) {
    .mid-warp {
        width: 1024px;
        margin: 10px auto 0;
        border-top: 1px solid #D1D1D1;
    }

    .right-block-content {
        width: 750px;
    }

    .block-tov {
        width: 230px;
        height: 230px;
    }
    
    .right-block-content .banner-top{
        width: 750px;
    }
}

@media screen and (min-width: 1280px) {

    .mid-warp{
        width: 1280px;
        margin: 10px auto 0;
        border-top: 1px solid #D1D1D1;
    }

    .right-block-content{
        width: 1000px;
    }
    .block-tov{
        width: 300px;
        height: 300px;
    }
    .right-block-content .banner-top{
        width: 1000px;
        overflow: hidden;
    }
}












